@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  background: #f9f8fe;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.App-header {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-family: monospace;
}
